body {
    // gitalk 样式
    #gitalk-container {
        max-width: 740px;
        margin: 0 auto;
        padding: 2rem 2.5rem;
    }

    // 自定义光标
    cursor: url('/imgs/cursor.ico'), auto;
}
